.modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    height: 100%;
    right: 0px;
    
}


.modal-content {
    height: 100%;

    
    
}
.modal-body div {
    padding-top: 13px;
}
.title{
    
    color: black;
    background-color: rgb(193, 190, 199);
    height: 9%;
}
.export{
   
        bottom: 0;
        left: 0;
        border-radius: 0;

}
.general{
    
    padding: 1rem;
        margin-bottom: 1rem;


}
.random{
    
        font-weight: bold;
        padding: 1rem;
            margin-bottom: 1rem;
            

}
.insideRandam{
            
                padding: 1rem;
                

}

.heading{
    color: rgb(18, 18, 99);
    padding-bottom: 0%;
    padding-left: 3%;
    
}

.react-bootstrap-table th.sortable {
        cursor: pointer;
            background-color: #0b0b49;
            color: white;
            border: none;
}

.table>tbody {
    vertical-align: inherit;
    color: black;
    background-color: #0000ff1a;
}
.search{
    padding: 1%;
   
    
    
      
}

